form
  display: flex
  flex-direction: column
  justify-content: flex-start
  align-items: center
  width: 400px
  max-width: 80%
  &.form-small
    width: 400px
  label
    width: 100%
  button
    margin-right: auto
  .form-actions
    width: 100%
    display: flex
    align-items: center
    justify-content: space-between
    button
      margin: 0
